// Colors
$black: #000000;
$grey: #333333;
$light-grey: #eee;
$white: #FFFFFF;
$green: #00B86C;
$blue: #2173D2;
$light-blue: #3188FF;
$yellow: #FADB00;
$light-orange: #FCAC1F;
$orange: #EC6A32;
$red: #F55333;

// Breakpoints  
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;